<!DOCTYPE html>
<html>
  <head>
    <title> Dev Skills</title>
    <link rel='stylesheet' href='style.css' />
  </head>
  <body>
    <h1>My Dev Skills</h1>
    <ul>

    <% fakeData.forEach((skill, idx) => { %>
      <form action="<%= idx %>?_method=DELETE"
        class="delete-form" method="POST">
        <button type="submit">X</button>
      </form>
      <li>
        <a href='/skills/<%= idx%>'><%= skill.skill %></a>
          -
          <%= skill.knowledge ? 'master' : 'incompetent' %>
      </li>
      <% }); %>
    </ul>
    <a href="/new">Add To-Do</a>
  </body>
</html>
